@import "../../css/colors.css";

:local(.button) {
    background: none;
    cursor: pointer;
    user-select: none;
}
:local(.button:active) {
    background-color: $motion-transparent; 
}

:local(.mod-disabled) {
    cursor: auto;
    opacity: .5;
}
:local(.mod-disabled:active) {
    background: none;
}
