@import "../../css/colors.css";
@import "../../css/units.css";

.editor-container {
    display: flex;
    flex-direction: column;
    padding: calc(2 * $space);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-container-top {
    border-bottom: 1px dashed $ui-pane-border;
    padding-bottom: 1rem;
}

.top-align-row {
    display: flex; 
    padding-top:20px;
    flex-direction: row;
}

.row + .row {
    margin-top: calc(2 * $space);
}

.mod-dashed-border {
    border-right: 1px dashed $ui-pane-border; 
    padding-right: calc(2 * $space);
}

$border-radius: 0.25rem;

.button-group-button {
    display: inline-block;
    border: 1px solid $ui-pane-border;
    border-radius: 0;
    border-left: none;
    padding: 0.5rem;
}

.button-group-button:active {
    background-color: $ui-background-blue; 
}

.button-group-button:last-of-type {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.button-group-button:first-of-type {
    border-left: 1px solid #ddd;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.button-group-button-icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

.mod-mode-tools {
    margin-left: calc(2 * $space);
}

.canvas-container {
    width: 500px;
    height: 400px;
    box-sizing: content-box;
    border: 1px solid #e8edf1;
    border-radius: .25rem;
    position: relative;
    overflow: visible;
}

.mode-selector {
    display: flex;
    margin-right: .5rem;
    max-width: 5.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}
