$scrollbar-size: 8px;
$scrollbar-padding: 1px;

.vertical-scrollbar, .horizontal-scrollbar {
    position: absolute;
    background: rgba(190, 190, 190, 0.8);
    border-radius: calc($scrollbar-size / 2);
    cursor: pointer;
}
.vertical-scrollbar-wrapper {
    position: absolute;
    width: $scrollbar-size;
    right: 0;
    top: $scrollbar-padding;
    height: calc(100% - $scrollbar-size - $scrollbar-padding);
}

.horizontal-scrollbar-wrapper {
    position: absolute;
    height: $scrollbar-size;
    left: $scrollbar-padding;
    bottom: 0;
    width: calc(100% - $scrollbar-size - $scrollbar-padding);
}

.vertical-scrollbar {
    width: $scrollbar-size;
}

.horizontal-scrollbar {
    height: $scrollbar-size;
}
