@import '../../css/colors.css';

$border-radius: .25rem;

.mod-tool-select {
    display: inline-block;
    border: none;
    border-radius: $border-radius;
    outline: none;
    background: none;
    padding: 0.25rem;
    font-size: 0.85rem;
    transition: 0.2s;
}

.mod-tool-select.is-selected {
    background-color: $motion-transparent;
}

.mod-tool-select:focus {
    outline: none;
}

img.tool-select-icon {
    width: 2rem;
    height: 2rem;
    flex-grow: 1;
    vertical-align: middle;
}
