.text-area {
    background: transparent;
    border: none;
    display: none;
    font-family: Times;
    font-size: 30px;
    left: 0px;
    outline: none;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    resize: none;
    top: 0px;
    white-space: nowrap;
    z-index: 1; /* TODO fix text is in front of dropdown menus */
}